@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: #fffffe;
  font-family: "Roboto", sans-serif;
  margin-top: 80px;
  padding: 30px;
}
