.sideBar {
  display: flex;
  flex-direction: column;
  background: #f9f4ef;

  height: 100%;
  width: 15%;
  position: fixed;
  z-index: -1;
  overflow: auto;
}

.sideBar nav {
  display: flex;
  flex-direction: column;
}

.sideBar nav ul {
  padding-left: 10px;
}

.sideBar li {
  list-style: none;
  margin: 40px 0;
}

.sideBar li a {
  color: #020826;
  text-decoration: none;
}

.sideBar a:hover {
  color: #8c7851;
}

.sideBar li a.active {
  background-color: #8c7851;
  color: #fffffe;
  border-radius: 12px;
  padding: 10px;
}

.logoutBtnContainer {
  margin: auto 0;
  padding-left: 10px;
}
.logoutBtn {
  position: absolute;
  bottom: 120px;
  background: #f25042;
  color: #fffffe;
  border-radius: 12px;
  padding: 10px;
}
