.loadingContainer {
  width: 85%;
  float: right;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container {
  /* max-width: 1000px; */
  width: 85%;
  float: right;

  margin-top: 20px;
  /* margin: 0 auto;
  padding: 0 20px; */
}
h2 {
  color: #020826;
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}
.responsiveTable {
  padding-left: 0;
  /* margin: 5px; */
  padding: 20px;
}

.responsiveTable li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 25px; */
}
.responsiveTable .tableHeader {
  background-color: #8c7851;
  color: #fffffe;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsiveTable .tableRow {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #020826;
}
.responsiveTable .tableRow div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.5s;
}
.responsiveTable .col1 {
  flex-basis: 20%;
}
.responsiveTable .col2 {
  flex-basis: 10%;
}
.responsiveTable .col3 {
  flex-basis: 15%;
}
.responsiveTable .col4 {
  flex-basis: 10%;
}
.responsiveTable .col5 {
  flex-basis: 35%;
}
.responsiveTable .col6 {
  flex-basis: 10%;
}

.responsiveTable a {
  text-decoration: none;
}
.submitBtn {
  background-color: #f9f4ef;
  color: #716040;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submitBtn:hover {
  color: #020826;
}
@media all and (max-width: 860px) {
  .container {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .responsiveTable .tableHeader {
    display: none;
  }
  .responsiveTable li {
    display: block;
  }
  .responsiveTable .col {
    flex-basis: 100%;
  }
  .responsiveTable .col {
    display: flex;
    padding: 10px 0;
  }
  .responsiveTable .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
