.headerContainer {
  background-color: #f9f4ef;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  z-index: 1000;
}

.nav * {
  display: inline;
}

.headerContainer li {
  margin: 20px;
}

.headerContainer li a {
  color: #020826;
  text-decoration: none;
}

/* .headerContainer li:last-child {
  margin-right: 40px;
} */

.headerContainer a:hover {
  color: #8c7851;
}

.logo {
  /* height: 80px;*/
  /* margin-left: 40px; */
  font-size: 1.45em;
  display: flex;
  align-items: center;
}

.headerContainer li a.active {
  background-color: #8c7851;
  color: #fffffe;
  border-radius: 12px;
  padding: 10px;
}

.logoutBtn {
  background: #f25042;
  color: #fffffe;
  border-radius: 12px;
  padding: 10px;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  cursor: pointer;
}

.hamburgerNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f4ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hamburgerNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburgerNav ul li {
  margin-bottom: 20px;
}

.hamburgerNav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.hamburgerNav a:hover {
  background-color: #8c7851;
  color: #fffffe;
  border-radius: 12px;
  padding: 10px;
}

@media all and (max-width: 860px) {
  .nav {
    display: none;
  }
}

@media all and (min-width: 861px) {
  .hamburger {
    display: none;
  }
}
